img { 
    display: block;
    width: 100px;

}

body {
    margin: 0px;
    background-image: url(https://c.tenor.com/ibK3fFISCygAAAAM/nyan-cat-cat.gif);
}

h1{
    color: #dd16a1;
}
#speciaal {
    background: lime;
}
.niet_speciaal {
    background: yellow;
 }